{% extends "base.html" %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
<div class="flex justify-center ">
    <div class="w-full max-w-md bg-gray-800 p-8 rounded-lg shadow-lg mt-24">
        <h2 class="text-2xl font-bold text-yellow-500 mb-6 text-center">Forgot Password</h2>
        <p class="text-gray-300 text-center mb-4">If you have forgotten your password, please contact the admin for
            assistance.</p>
        <p class="text-gray-300 text-center mb-4">You can reach the admin at:</p>
        <ul class="text-gray-300 text-center mb-4">
            <li>Email: <a href="mailto:admin@example.com" class="text-yellow-500 hover:underline">admin@example.com</a>
            </li>
            <li>Phone: <a href="tel:+1234567890" class="text-yellow-500 hover:underline">+1 234 567 890</a></li>
        </ul>
        <div class="mt-4 text-center">
            <a href="{% url 'login' %}" class="text-yellow-500 hover:underline">Go back</a>
        </div>
    </div>
</div>
{% endblock %}